* {
    border: 2px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    
}

.ul-header {
    padding-left: 0;
    gap: 16px;
    font-size: 14px;
    list-style: none;
    display: flex;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}