 {
    border: 2px solid;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.top {
    background-color: #1f2937;
    padding: 16px 400px


/* header */
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
}

.header-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    
}

    /* top blue part */

    .top-container {
        display: flex;
        justify-content: space-evenly;
        background-color: #1f2937;
        padding-bottom: 48px;
    }

    .top-text {
        display: flex;
        flex-direction: column;
        align-content: right;
        flex: 1;
    }

        .big-text {
            font-size: 48px;
            font-weight: 900;
            color: #f9faf8;
            margin: 0;
            display: flex;
            flex: 1;
        }

        .small-text {
            font-size: 18px;
            color: #e5e7eb;
            display: flex;
            flex: 1;
        }

    .button-1 {
        background-color: #3882f6;
        border: none;
        color: #e5e7eb;
        padding: 10px;
        text-align: center;
        display: inline-block;
        max-width: 100px;
        border-radius: 8px;
        font-weight: 700;
        transition-duration: 0.4s;
    }

    .button-1:hover {
        background-color: #274d81;
        box-shadow: 0 0 5px 1px;
    }

    .top-image  {
        display: flex;
        flex: 1;
        justify-content: right;
        max-width: 500px;
    }

    .img-1 {
        box-shadow: 0 0 5px 2px;
    }

    .filler {
        display: flex;
        flex: 1;
    }
/* universal */

.ul-header {
    list-style: none;
    display: flex;
    gap: 36px;
}

/* universal */
a {
    text-decoration: none;
    color: #e5e7eb;
}

p {
    margin: 0;
}

button {

}

img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 5px;
}